.shows-lower-left-sec-nav-title-primary-wrapper {
  height: 1.85vw;
  width: 100%;
  display: flex;
  align-items: center;
}

.shows-lower-left-sec-nav-title-text {
  font-size: 1.35vw;
  font-weight: 800;
  transform-origin: 5% 50%;
  transition: transform 0.2s ease-out,opacity 0.2s ease-out;
  /* transition: opatransform 1s ease-out, opacity 1s ease-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; */
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  letter-spacing: calc(-0.0305797101em + 0.4463768116px);
}
