.core-slider-elements-wrapper {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.1s linear;
  transition: opacity 0.1s linear;
}

.core-slider-elements-wrapper-wrapper {
  display: flex;
  height: 100%;
}
