.core-slider-elements-wrapper {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s linear, opacity 0.1s linear;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.core-slider-elements-wrapper-wrapper {
  display: flex;
  height: 100%;
}
