.core-slider-elements-wrapper {
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}

.core-slider-elements-wrapper-wrapper {
  display: flex;
}
