.slider-elements-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
}

.slider-elements-wrapper-wrapper {
  overflow-x: hidden;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

.slider-elements-wrapper-wrapper-wrapper {
  overflow-x: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  /* overflow-x: hidden; */
}

.draggable {
  cursor: grab; 
}

.draggable:active {
  cursor: grabbing;
}


/* .primary-slider-elements-container div div img{
    width: 400px;
} */
