.articles-lower-section-primary-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
  padding-bottom: 7vw;
}
