.secondary-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #eeeeee;
  padding-left: 60px;
  padding-right: 60px;
}
.secondary-footer-left-wrapper {
  display: flex;
  align-items: center;
}
.secondary-footer-left-wrapper a img {
  object-fit: contain;
  height: 28px;
  margin-right: 30px;
}
.secondary-footer-left-copyright-wrapper {
  color: #7e7e7e;
  font-size: 15px;
}
.secondary-footer-right-wrapper {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}
.secondary-footer-right-wrapper p span {
  color: #929292;
  padding: 0 8px;
}
.secondary-footer-social-media-icons-wrapper {
  order: 1;
  display: flex;
  margin-left: 30px;
  width: 220px;
  justify-content: space-between;
}

.secondary-footer-social-media-icons {
  width: 30px;
  height: 30px;
  margin-bottom: 0pc;
  margin-left: 0px !important;
}

@media only screen and (max-width: 900px) {
  .secondary-footer-wrapper {
    flex-direction: column-reverse;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .secondary-footer-left-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .secondary-footer-left-wrapper a img {
    margin-right: 0px;
    width: fit-content;
    margin-top: 50px;
  }
  .secondary-footer-left-copyright-wrapper {
    font-size: 12px;
  }
  .secondary-footer-right-wrapper {
    flex-direction: column-reverse;
  }
  .secondary-footer-right-wrapper p {
    margin-top: 10px;
  }
  .secondary-footer-social-media-icons-wrapper {
    margin-left: 0px;
  }
  .secondary-footer-social-media-icons {
    margin-left: 6px;
    margin-right: 6px;
  }
}
@media only screen and (max-width: 320px) {
  .secondary-footer-wrapper {
    padding-top: 12.5vw;
    padding-bottom: 12.5vw;
  }
  .secondary-footer-left-wrapper {
    margin-top: 1.5vw;
  }
  .secondary-footer-left-wrapper a img {
    margin-top: 15vw;
    height: 8.5vw;
  }
  .secondary-footer-left-copyright-wrapper {
    font-size: 3.8vw;
  }
  .secondary-footer-social-media-icons-wrapper {
    width: 72vw;
  }
  .secondary-footer-social-media-icons {
    margin-left: 0vw;
    margin-right: 0vw;
    width: 10vw;
    height: 10vw;
  }
  .secondary-footer-left-copyright-wrapper a {
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }
  .secondary-footer-right-wrapper p {
    font-size: 5vw;
    margin-top: 3vw;
  }
}
