.gallery-upper-section-primary-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fcfcfc;
}

.gallery-upper-section-top-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}

.gallery-upper-section-bg-graphic {
  margin-top: -15%;
  width: 350px;
}

.gallery-upper-section-title {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 55px;
  margin-top: -10%;
  position: absolute;
  top: 50%;
  margin-left: 2.8%;
}

.gallery-upper-section-primary-graphic {
  top: 48%;
  position: absolute;
}

.gallery-upper-section-pot-graphic {
  position: absolute;
  right: 7%;
  bottom: 4%;
  width: 525px;
  height: fit-content;
}

@media only screen and (max-width: 900px) {
  .gallery-upper-section-bg-graphic {
    width: 250px;
  }
  .gallery-upper-section-title {
    font-size: 45px;
    margin-top: -20%;
  }
  .gallery-upper-section-primary-graphic {
    top: 43%;
    width: 275px;
  }
  .gallery-upper-section-pot-graphic {
    right: 5%;
    bottom: 3%;
    width: 400px;
  }
}

@media only screen and (max-width: 550px) {
  .gallery-upper-section-bg-graphic {
    margin-top: -20%;
    width: 200px;
  }
  .gallery-upper-section-title {
    font-size: 35px;
    margin-top: -25%;
  }
  .gallery-upper-section-primary-graphic {
    top: 42%;
    width: 225px;
  }
  .gallery-upper-section-pot-graphic {
    right: 6%;
    bottom: 3%;
    width: 280px;
  }
}

@media only screen and (max-width: 320px) {
  .gallery-upper-section-bg-graphic {
    width: 62.5vw;
  }
  .gallery-upper-section-title {
    font-size: 11vw;
  }
  .gallery-upper-section-primary-graphic {
    width: 70vw;
  }
  .gallery-upper-section-pot-graphic {
    width: 85vw;
  }
}
