.gallery-lower-sec-primary-wrapper {
  min-height: 100vh;
  height: auto;
  background-color: white;
  position: relative;
  padding-top: 170px;
  padding-bottom: 125px;
}

.gallery-lower-sec-secondary-wrapper {
  height: fit-content;
  width: 916px;
  margin: auto;
}

@media only screen and (max-width: 1016px) {
  .gallery-lower-sec-secondary-wrapper {
    width: 608px;
  }
}

@media only screen and (max-width: 659px) {
  .gallery-lower-sec-secondary-wrapper {
    width: 300px;
  }
  .gallery-lower-sec-primary-wrapper {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 337px) {
  .gallery-lower-sec-secondary-wrapper {
    width: 90vw;
  }
}
