.listing-pages-smooth-scroll-top-container-wrapper {
  height: 100vh;
  width: 100%;
  /* background: rgb(196, 1, 1); */
}

.listing-pages-smooth-scroll-bottom-container-wrapper {
  height: 200vh;
  width: 100%;
  transition: margin-top cubic-bezier(0.8, 0, 0, 1);
  margin-top: 0px;
}

.listing-pages-smooth-scroll-primary-wrapper {
  width: 100%;
  height: auto;
}
