.lisitng-page-center-text-div-for-articles-page {
  position: absolute;
  top: 18vh;
  left: 6.5vw;
  width: auto;
  display: flex;
  flex-direction: column;
}

.listing-page-center-text-title-for-articles-page {
  font-size: 4vw;
  font-weight: 800;
  letter-spacing: 0.3em;
  width: fit-content;
}

.listing-page-center-text-description-for-articles-page {
  font-size: 1.5vw;
  font-weight: 500;
  width: 40vw;
  margin-top: 0.5vw;
}

.listing-pages-top-breif-sec-primary-wrapper {
  position: relative;
}

.listing-pages-top-breif-sec-primary-graphic-component-wrapper-for-articles-page {
  position: absolute;
  bottom: 20vh;
  left: 57vw;
  width: auto;
  height: auto;
  transition: transform 0.1s linear;
}

.listing-pages-top-breif-sec-primary-graphic-component-wrapper-for-articles-page
  svg {
  height: auto;
  width: 32vw;
}
