.listing-pages-top-breif-sec-primary-wrapper {
  width: 100%;
  height: 100vh;
}

.listing-pages-top-breif-sec-graphic-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.listing-pages-top-breif-sec-text-wrapper{
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.listing-pages-floating-bg-img {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: none;
  transition: margin 0.1s ease-in-out;
}

.listing-pages-floating-bg-img svg {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: relative;
}
