.preloader-wrapper-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-wrapper {
  position: relative;
  width: 5.625rem;
  height: 5.625rem;
}
.preloader-outer-wrapper,
.preloader-inner-wrapper {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  border: 5px solid rgb(45, 45, 45);
  animation: prrloader-ripple-wrapper 1.5s ease-in-out infinite forwards;
}
.preloader-inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  animation-delay: 0.5s;
  opacity: 0;
}
@keyframes prrloader-ripple-wrapper {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
