.shows-lower-section-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 68vw;
  column-gap: 1vw;
  padding-right: 7vw;
  padding-left: 5vw;
  background-color: white;
  padding-top: 175px;
  padding-bottom: 100px;
  position: relative;
  min-height: 100vh;
}

.shows-lower-section-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.8vw;
}

@media only screen and (max-width: 1200px) {
  .shows-lower-section-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 100px;
    position: relative;
    min-height: 100vh;
  } 

  .shows-lower-section-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 15px;
  }
}
