#BGBJAS_LeftLeaves {
  @apply absolute;
  transform: rotate(-5.32deg);
  left: 9.85%;
  top: 47.53%;
}
#BGBJAS_LeftLeaves1 {
  height: 100%;
}
#BGBJAS_LeftLeaves2 {
  width: 80.6%;
  top: 29%;
  left: -29%;
}
#BGBJAS_LeftLeaves3 {
  width: 46%;
  top: 18.4%;
  left: 50%;
}
#BGBJAS_LeftLeaves4 {
  width: 80%;
  top: 56.4%;
  left: -16%;
}
#BGBJAS_LeftLeaves5 {
  width: 51.52%;
  top: 42.4%;
  left: 62.4%;
}
