#BGBJAS_RightLeaves {
  @apply absolute;
  left: 75.3%;
  top: 55.97%;
}
#BGBJAS_RightLeavesPot {
  height: 100%;
  z-index: 1;
}
#BGBJAS_RightLeavesL {
  width: 103%;
  max-width: 103%;
  top: -302%;
  left: -35%;
  transform-origin: 50% 100%;
  animation: BGBJAS_RightLeavesL 2s ease-in-out alternate infinite;
}
#BGBJAS_RightLeavesR {
  width: 113%;
  max-width: 113%;
  top: -233%;
  left: 36%;
  transform-origin: 50% 100%;
  animation: BGBJAS_RightLeavesR 2s ease-in-out alternate infinite;
}

@keyframes BGBJAS_RightLeavesL {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes BGBJAS_RightLeavesR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
