#BGBJAS_Chai {
  @apply absolute;
  left: 57.5%;
  top: 36.28%;
}
#BGBJAS_ChaiCup {
  width: 100%;
  z-index: 1;
}
#BGBJAS_ChaiVapours {
  width: 370.5%;
  max-width: 370.5%;
  top: -482%;
  left: -239%;
}
