.progress-line-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vw;
  width: 100%;
}
.progress-bar-line {
  height: 3px;
  width: 70vw;

  /* background: rgb(0, 6, 56); */
  background: linear-gradient(
    90deg,
    rgba(0, 6, 56, 0) 0%,
    rgba(0, 6, 56, 1) 50%,
    rgba(0, 6, 56, 0) 100%
  );
}
.line-dot-wrapper {
  position: absolute;
  transition: transform 0.1s linear;
}
