.home-lower-section-main-text {
  width: 90%;
  max-width: 1200px;
  @apply mx-auto text-xl mb-28;
  font-size: 20px;
  margin-top: 5rem;
  text-align: center;
  color: #222222;
}
.home-lower-section-director-section {
  max-width: 45rem;
  width: 80%;
  @apply mx-auto flex items-center justify-center mb-32;
}
.home-lower-section-director-section-content {
  color: #222222;
  @apply ml-24;
}
.home-lower-section-director-section-content h2:first-child {
  @apply font-bold mb-2;
  font-size: 1.375rem;
}
.home-lower-section-director-section-content h2:nth-child(2) {
  @apply font-semibold mb-2;
  font-size: 1.125rem;
}
.home-lower-section-director-section-content div {
  @apply text-base;
}

@media only screen and (max-width: 1200px) {
  .home-lower-section-main-text {
    font-size: 16px;
  }

  .director-image-wrapper-wrapper {
    width: 12rem !important;
    height: 12rem !important;
  }
  .director-image-wrapper {
    border: 8px solid #ffb800 !important;
  }
  .home-lower-section-director-section-content {
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .home-lower-section-main-text {
    margin-top: 3rem;
  }

  .home-lower-section-director-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-lower-section-director-section-content {
    margin-left: 0rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-lower-section-director-section-content div {
    text-align: center;
    margin-top: 0.5rem;
  }
  .home-lower-section-director-section-content h2 {
    text-align: center;
  }
}
