@media only screen and (max-width: 1024px) {
  .primary-footer-wrapper {
    height: auto;
    padding-bottom: 5.5vw;
  }
  .primary-footer-footer-links div {
    font-size: 1.9vw;
    line-height: unset;
  }
  .primary-footer-footer-links a {
    font-size: 1.6vw;
  }
  .primary-footer-instiute-information-wrapper p {
    font-size: 1.7vw;
    line-height: 2.2vw;
  }
  .primary-footer-right-icons p {
    font-size: 1.7vw;
  }
  .primary-footer-copyright {
    font-size: 1.2vw;
  }
  .primary-footer-upper-container img {
    width: 11vw;
  }
}
@media only screen and (max-width: 768px) {
  .primary-footer-footer-links div {
    font-size: 2.1vw;
  }
  .primary-footer-footer-links a {
    font-size: 1.8vw;
  }
  .primary-footer-instiute-information-wrapper p {
    font-size: 1.9vw;
    line-height: 2.4vw;
  }
  .primary-footer-right-icons p {
    font-size: 1.9vw;
  }
  .primary-footer-copyright {
    font-size: 1.4vw;
  }
  .primary-footer-upper-container img {
    width: 12vw;
  }
}
